In [3]:
pip install requests

Collecting requests
  Using cached https://files.pythonhosted.org/packages/51/bd/23c926cd341ea6b7dd0b2a00aba99ae0f828be89d72b2190f27c11d4b7fb/requests-2.22.0-py2.py3-none-any.whl
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 (from requests)
  Using cached https://files.pythonhosted.org/packages/e6/60/247f23a7121ae632d62811ba7f273d0e58972d75e58a94d329d51550a47d/urllib3-1.25.3-py2.py3-none-any.whl
Collecting chardet<3.1.0,>=3.0.2 (from requests)
  Using cached https://files.pythonhosted.org/packages/bc/a9/01ffebfb562e4274b6487b4bb1ddec7ca55ec7510b22e4c51f14098443b8/chardet-3.0.4-py2.py3-none-any.whl
Collecting idna<2.9,>=2.5 (from requests)
  Using cached https://files.pythonhosted.org/packages/14/2c/cd551d81dbe15200be1cf41cd03869a46fe7226e7450af7a6545bfc474c9/idna-2.8-py2.py3-none-any.whl
Collecting certifi>=2017.4.17 (from requests)
  Using cached https://files.pythonhosted.org/packages/69/1b/b853c7a9d4f6a6d00749e94eb6f3a041e342a885b87340b79c1ef73e3a78/certifi-2019.6.16-py2.py3-none-any.whl
Installing collected packages: urllib3, chardet, idna, certifi, requests
Successfully installed certifi-2019.6.16 chardet-3.0.4 idna-2.8 requests-2.22.0 urllib3-1.25.3
You are using pip version 19.0.3, however version 19.2.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/39/b7/441375a152f3f9929ff8bc2915218ff1a063a59d7137ae0546db616749f9/pandas-0.25.0-cp37-cp37m-macosx_10_9_x86_64.macosx_10_10_x86_64.whl (10.1MB)
    100% |████████████████████████████████| 10.1MB 2.2MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas) (2.8.0)
Collecting numpy>=1.13.3 (from pandas)
  Downloading https://files.pythonhosted.org/packages/c1/4b/78119133136c20e5ad2e01bf72b0633241defd619939908223cd394a9c32/numpy-1.17.0-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (15.0MB)
    100% |████████████████████████████████| 15.0MB 1.9MB/s ta 0:00:011
Collecting pytz>=2017.2 (from pandas)
  Downloading https://files.pythonhosted.org/packages/3d/73/fe30c2daaaa0713420d0382b16fbb761409f532c56bdcc514bf7b6262bb6/pytz-2019.1-py2.py3-none-any.whl (510kB)
    100% |████████████████████████████████| 512kB 19.6MB/s a 0:00:011
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.17.0 pandas-0.25.0 pytz-2019.1
You are using pip version 19.0.3, however version 19.2.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install bs4

Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Collecting beautifulsoup4 (from bs4)
  Downloading https://files.pythonhosted.org/packages/1a/b7/34eec2fe5a49718944e215fde81288eec1fa04638aa3fb57c1c6cd0f98c3/beautifulsoup4-4.8.0-py3-none-any.whl (97kB)
    100% |████████████████████████████████| 102kB 287kB/s a 0:00:01
Collecting soupsieve>=1.2 (from beautifulsoup4->bs4)
  Downloading https://files.pythonhosted.org/packages/35/e3/25079e8911085ab76a6f2facae0771078260c930216ab0b0c44dc5c9bf31/soupsieve-1.9.2-py2.py3-none-any.whl
Installing collected packages: soupsieve, beautifulsoup4, bs4
  Running setup.py install for bs4 ... done
Successfully installed beautifulsoup4-4.8.0 bs4-0.0.1 soupsieve-1.9.2
You are using pip version 19.0.3, however version 19.2.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/05/fe/ffc5c23db9afa827660290e03d22f6736f9028b85eb8cf0dba15aff54356/lxml-4.4.0-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (8.9MB)
    100% |████████████████████████████████| 8.9MB 436kB/s ta 0:00:011    71% |███████████████████████         | 6.3MB 2.3MB/s eta 0:00:02
Installing collected packages: lxml
Successfully installed lxml-4.4.0
You are using pip version 19.0.3, however version 19.2.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [13]:
import requests
import lxml.html as lh
import pandas as pd
from bs4 import BeautifulSoup

In [17]:
website_url = requests.get('https://watchstadium.com/news/up-to-date-list-of-college-basketball-players-who-declared-for-2019-nba-draft-04-01-2019/')
soup = BeautifulSoup(website_url.content,'lxml')
soup.prettify()
name_list = soup.find('div',{'class':"post--body"})
name_list
listdata = name_list.findAll('p')
data =[]
count = 0
for cell in listdata:
    count = count+1
    if (count >5):
        data.append(cell.get_text())

In [18]:
import numpy as np
data2 = np.array(data)
players = [items for item in data2 for items in item.split(',')]
del players[1::2]

In [22]:
maindata = []
for name in players:
    realname = name
    name = name.lower()
    name = name.replace(" ", "-")
    website_url = requests.get('https://www.sports-reference.com/cbb/players/'+ name +'-1.html')
    soup = BeautifulSoup(website_url.content,'lxml')
    soup.prettify()
    My_table = soup.find('table',{'id':'players_per_game'})
    if My_table is not None:
        maindata = maindata + [realname]
        tabledata = My_table.findAll('td')
        data = []
        for cell in tabledata:
            data.append(cell.get_text())
        maindata = maindata +data[-28:]

In [23]:
import numpy as np
maindata2 = np.array(maindata)
refined2 = np.reshape(maindata2, (-1, 29))

In [24]:
tableheader = My_table.findAll('th')
colheaders = []
count = 0
for item in tableheader:
    if (count < 29):
        colheaders.append(item.get_text())
        count=count+1
colheaders.remove('Season')
colheaders = ['Name'] + colheaders
print(colheaders)

['Name', 'School', 'Conf', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA', '2P%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', '\xa0', 'SOS']

In [68]:
import pandas as pd
college = pd.DataFrame(refined2, columns=colheaders)
college.head()

,Name,School,Conf,G,GS,MP,FG,FGA,FG%,2P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,,SOS
0,Milan Acquaah,California Baptist,,31,30,32.1,6.2,14.8,.415,3.7,...,4.4,5.0,3.4,1.6,0.1,3.3,2.6,19.0,,
1,Bryce Aiken,Harvard,,58,34,29.4,5.0,12.4,.406,2.9,...,2.1,2.4,2.8,0.8,0.0,2.8,1.9,16.8,,-1.09
2,Nickeil Alexander-Walker,Virginia Tech,,67,67,29.9,4.7,10.1,.464,3.0,...,3.4,4.0,2.7,1.4,0.5,2.2,1.9,13.5,,7.25
3,Al-Wajid Aminu,North Florida,,34,26,26.0,3.6,6.7,.542,3.4,...,3.8,6.5,0.7,0.4,1.1,2.1,3.6,9.1,,-1.65
4,Desmond Bane,TCU,,109,82,28.7,4.2,8.2,.516,2.8,...,3.4,4.2,1.9,0.8,0.3,1.3,2.2,11.5,,10.08

In [69]:
college = college.drop(['Conf'], axis=1)

In [71]:
college = college.drop(['\xa0'], axis=1)

In [73]:
college.tail()

,Name,School,G,GS,MP,FG,FGA,FG%,2P,2PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,SOS
133,Kris Wilkes,UCLA,66,65,30.8,5.5,12.6,.436,3.6,7.1,...,1.2,3.6,4.8,1.7,0.7,0.5,1.6,2.3,15.5,6.82
134,Emmitt Williams,LSU,34,8,19.7,2.6,4.3,.614,2.6,4.1,...,2.6,2.8,5.4,0.4,0.3,0.6,1.1,1.9,7.0,9.15
135,Grant Williams,Tennessee,104,101,28.9,5.3,10.2,.516,5.0,9.2,...,2.5,4.0,6.5,2.1,0.9,1.5,2.1,3.2,15.7,10.15
136,Zion Williamson,Duke,33,33,30.0,9.0,13.2,.680,8.2,11.0,...,3.5,5.4,8.9,2.1,2.1,1.8,2.4,2.1,22.6,11.97
137,Kenny Wooten,Oregon,70,38,21.8,2.6,4.1,.634,2.6,4.1,...,1.4,3.3,4.7,0.5,0.5,2.4,1.1,2.6,6.4,5.49

In [74]:
col = college.columns
cols = []
for co in col:
    cols.append(co)
cols.remove('Name')
cols.remove('School')
print(cols)

['G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '2P', '2PA', '2P%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'SOS']

In [77]:
for col in cols:
    college[col] = pd.to_numeric(college[col], errors='coerce')
college = college.dropna()
college.tail()

,Name,School,G,GS,MP,FG,FGA,FG%,2P,2PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,SOS
133,Kris Wilkes,UCLA,66,65,30.8,5.5,12.6,0.436,3.6,7.1,...,1.2,3.6,4.8,1.7,0.7,0.5,1.6,2.3,15.5,6.82
134,Emmitt Williams,LSU,34,8,19.7,2.6,4.3,0.614,2.6,4.1,...,2.6,2.8,5.4,0.4,0.3,0.6,1.1,1.9,7.0,9.15
135,Grant Williams,Tennessee,104,101,28.9,5.3,10.2,0.516,5.0,9.2,...,2.5,4.0,6.5,2.1,0.9,1.5,2.1,3.2,15.7,10.15
136,Zion Williamson,Duke,33,33,30.0,9.0,13.2,0.680,8.2,11.0,...,3.5,5.4,8.9,2.1,2.1,1.8,2.4,2.1,22.6,11.97
137,Kenny Wooten,Oregon,70,38,21.8,2.6,4.1,0.634,2.6,4.1,...,1.4,3.3,4.7,0.5,0.5,2.4,1.1,2.6,6.4,5.49

In [78]:
college = college.set_index('Name')

In [80]:
college.head()

,School,G,GS,MP,FG,FGA,FG%,2P,2PA,2P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,SOS
Name,,,,,,,,,,,,,,,,,,,,,
Bryce Aiken,Harvard,58,34,29.4,5.0,12.4,0.406,2.9,6.1,0.468,...,0.4,2.1,2.4,2.8,0.8,0.0,2.8,1.9,16.8,-1.09
Nickeil Alexander-Walker,Virginia Tech,67,67,29.9,4.7,10.1,0.464,3.0,5.6,0.529,...,0.6,3.4,4.0,2.7,1.4,0.5,2.2,1.9,13.5,7.25
Al-Wajid Aminu,North Florida,34,26,26.0,3.6,6.7,0.542,3.4,5.9,0.578,...,2.6,3.8,6.5,0.7,0.4,1.1,2.1,3.6,9.1,-1.65
Desmond Bane,TCU,109,82,28.7,4.2,8.2,0.516,2.8,4.8,0.578,...,0.8,3.4,4.2,1.9,0.8,0.3,1.3,2.2,11.5,10.08
RJ Barrett,Duke,38,38,35.3,8.4,18.5,0.454,6.5,12.2,0.529,...,1.6,6.0,7.6,4.3,0.9,0.4,3.2,1.8,22.6,11.97

In [81]:
college.to_csv('Draft_Class.csv')